*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, sans-serif;
}
.background_1{
	background-color: #F6F2F2;
	display: grid;
	justify-items: center;
	height: 689px;
}
.section {
	display: grid;
	align-content: space-between;
	justify-items: stretch;
	width: 100%;
	max-width: 1250px;
	padding: 30px 30px 0px 30px;
}
.header {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-row: 1;
	grid-column: 1/3;
	margin: 0px 0px 63px 0px;
	height: 90px;
	background-color: #313030;
}
.header__nav a {
	padding: 37px 25px;
	color: #E0E0E0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}
.header_active {
	background-color: #FF3F3F;
}
.header__nav a:hover {
	background-color: #FF3F3F;
}

/* меню "гамбургер" */
.hamburger-menu{
	display: none;
}
#menu__toggle {
	opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
	display: flex;
	align-items: center;
	position: absolute;
	top: 60px;
	left: 45px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #E0E0E0;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}
/* контейнер меню */
.menu__box {
	display: block;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 300px;
	margin: 0;
	padding: 100px 0;
	text-align: center;
	background-color: #313030;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
}
/* элементы меню */
.menu__box a {
	display: block;
	padding: 12px 24px;
	color: #E0E0E0;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	transition-duration: .25s;
}
.menu__box a:hover {
	background-color: #FF3F3F;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}

.title {
	grid-row: 2/2;
	grid-column: 1;
	margin-top: -10px;
	font-size: 60px;
	letter-spacing: 2px;
	line-height: 72px;
	font-weight: 800;
	text-transform: uppercase;
}
.text {
	margin: -23px 0px 33px 0px;
	grid-row: 3/3;
	grid-column: 1;
	align-self: center;
	max-width: 515px;
	line-height: 28px;
}
.button {
	grid-row: 4/4;
	grid-column: 1;
}
.button a {
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: white;
	background-color: #FF3F3F;
	border: solid 2px #FF3F3F;
	border-radius: 4px;
	padding: 16px 63px;
}
.button a:hover {
	color: #FF3F3F;
	background-color: white;
}
.video {
	grid-row: 2/6;
	grid-column: 2/2;
	width: 550px;
	height: 350px;
	background-color: #C4C0B1;
	filter: drop-shadow(-2.19px -13.828px 36.5px rgba(0,0,0,0.29));
}

@media (max-width: 1256px) {
	.title {
		font-size: 44px;
		letter-spacing: 2px;
		line-height: 56px;
	}
	.video {
		width: 500px;
		height: 318px;
	}
}
@media (max-width: 1000px) {
	.title {
		font-size: 30px;
		letter-spacing: 2px;
		line-height: 40px;
	}
	.video {
		width: 450px;
		height: 286px;
	}
}
@media (max-width: 830px) {
	.video {
		width: 400px;
		height: 255px;
	}
}
@media (max-width: 768px) {
	.header {
		margin: 0;
	}
	.header__nav {
		display: none;
	}
	.hamburger-menu {
		display: block;
	}
	.title {
		grid-row: 2;
		grid-column: 1;}
	.text {
		grid-row: 3;
		grid-column: 1;
		margin: 0;
	}
	.button {
		grid-row: 5;
		grid-column: 1;
		margin-bottom: 40px;
	}
	.video {
		grid-row: 4;
		grid-column: 1;
	}
}
@media (max-width: 480px) {
	.section {
		padding: 5px 5px 0px 5px;
	}
	.video {
		width: 320px;
		height: 204px;
	}
	.header {
		height: 60px;
	}
	.menu__btn {
		top: 25px;
	}
}
@media (max-width: 320px) {
	.section {
		padding: 0;
	}
	.menu__btn {
		top: 20px;
	}
}