/*Общие настройки*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, sans-serif;
}
/*Первая часть сайта*/
.background_1{
	background-color: #F6F2F2;
	display: grid;
	justify-items: center;
	min-height: 688px;
}
.section_1 {
	display: grid;
	align-content: space-between;
	grid-gap: 15px;
	width: 100%;
	max-width: 1310px;
	padding: 30px 30px 0px 30px;
}
/*Шапка и основное меню*/
.header {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-row: 1;
	grid-column: 1/3;
	margin: 0px 0px 55px 0px;
	height: 90px;
	background-color: #313030;
}
.header__nav a {
	padding: 37px 25px;
	color: #E0E0E0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}
.header_active {
	background-color: #FF3F3F;
}
.header__nav a:hover {
	background-color: #FF3F3F;
}

/* меню "гамбургер" */
.hamburger-menu{
	display: none;
}
#menu__toggle {
	opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
	display: flex;
	align-items: center;
	position: absolute;
	top: 60px;
	left: 45px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #E0E0E0;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}
/* контейнер меню */
.menu__box {
	display: block;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 300px;
	margin: 0;
	padding: 100px 0;
	text-align: center;
	background-color: #313030;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
}
/* элементы меню */
.menu__box a {
	display: block;
	padding: 12px 24px;
	color: #E0E0E0;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	transition-duration: .25s;
}
.menu__box a:hover {
	background-color: #FF3F3F;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}
/*Прочие части первой части*/
.section_1_title {
	grid-row: 2;
	grid-column: 1;
	margin-top: -15px;
	font-size: 60px;
	letter-spacing: 2px;
	line-height: 72px;
	font-weight: 800;
	text-transform: uppercase;
}
.section_1_text {
	margin: -35px 0px 20px 0px;
	grid-row: 3/3;
	grid-column: 1;
	max-width: 515px;
	line-height: 28px;
}
.section_1_button {
	grid-row: 4;
	grid-column: 1;
}
.section_1_button a {
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: #F6F2F2;
	background-color: #FF3F3F;
	border: solid 2px #FF3F3F;
	border-radius: 4px;
	padding: 16px 63px;
}
.section_1_button a:hover {
	color: #FF3F3F;
	background-color: #F6F2F2;
}
.section_1_video {
	grid-row: 2/6;
	grid-column: 2;
	width: 550px;
	height: 350px;
	background-color: #C4C0B1;
	filter: drop-shadow(-2.19px -13.828px 36.5px rgba(0,0,0,0.29));
}
/*Вторая часть сайта*/
.background_2 {
	display: grid;
	justify-items: center;
}
.section_2 {
	display: grid;
	align-content: space-between;
	justify-content: space-between;
	grid-gap: 15px;
	padding: 100px 30px 0px 30px;
	width: 100%;
	max-width: 1310px;
	min-height: 694px;
}
.section_2_title {
	grid-row: 1;
	grid-column: 1/3;
	font-size: 42px;
	line-height: 55px;
	font-weight: 700;
	text-transform: uppercase;
	max-width: 500px;
}
.section_2_text {
	grid-row: 2;
	grid-column: 1/3;
	line-height: 28px;
	max-width: 500px;
}
.section_2_button {
	grid-row: 3;
	grid-column: 1/3;
	margin: 5px 0px 15px 0px;
}
.section_2_button a {
	font-size: 18px;
	line-height: 34px;
	font-weight: 700;
	text-decoration: none;
	color: #FF3F3F;
	background-color: white;
	border: solid 2px #FF3F3F;
	border-radius: 4px;
	padding: 16px 63px;
}
.section_2_button a:hover {
	color: white;
	background-color: #FF3F3F;
}
.section_2_block-1 {
	grid-row: 1/3;
	grid-column: 3;
	max-width: 290px;
}
.section_2_block-2 {
	grid-row: 1/3;
	grid-column: 4;
	max-width: 290px;
}
.section_2_block-3 {
	grid-row: 3/5;
	grid-column: 3;
	max-width: 290px;
}
.section_2_block-4 {
	grid-row: 3/5;
	grid-column: 4;
	max-width: 290px;
}
.section_2_icon {
	padding-bottom: 20px;
}
.section_2_subtitle {
	padding-bottom: 15px;
	font-size: 24px;
	font-weight: 600;
}
.section_2_line {
	grid-row: 5;
	grid-column: 1/5;
	display: block;
	max-width: 1249px;
	height: 2px;
	background-color: #ececec;
}
/*Вторая часть второй части сайта*/
.section_3 {
	display: grid;
	justify-items: center;
	grid-gap: 15px;
	padding: 100px 30px 0px 30px;
	width: 100%;
	max-width: 1310px;
}
.section_3_title {
	font-size: 42px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.section_3_text {
	line-height: 28px;
	text-align: center;
	max-width: 520px;
}
.section_3_line {
	width: 130px;
	height: 2px;
	margin: 10px;
	background-color: #ff2d2d;
}
.section_3_nav {
	max-width: 1000px;
	padding: 60px 0px 50px 0px;
}
.section_3_nav a {
	font-size: 22px;
	line-height: 24px;
	font-weight: 600;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0px 20px;
}
.section_3_nav a:hover {
	color: #ff2d2d;
}
.section_3_active {
	color: #ff2d2d;
}
.section_3_img {
	display: grid;
	grid-gap: 20px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns:  repeat(4, 1fr);
}
.section_3_img img {
	width: 290px;
}

/*Адаптив*/
@media (max-width: 1256px) {
	.section_1_title {
		font-size: 44px;
		letter-spacing: 2px;
		line-height: 56px;
	}
	.section_1_video {
		width: 500px;
		height: 318px;
	}
	.section_3_img {
		grid-template-rows:  repeat(3, 1fr);
		grid-template-columns:  repeat(3, 1fr);
	}
	.section_3_img img {
		width: 250px;
	}
}
@media (max-width: 1000px) {
	.section_1_title {
		font-size: 30px;
		letter-spacing: 2px;
		line-height: 40px;
	}
	.section_1_video {
		width: 450px;
		height: 286px;
	}
	.section_2 {
		padding: 70px 30px 0px 30px;
	}
	.section_2_title {
		font-size: 24px;
		line-height: 30px;
	}
	.section_2_subtitle {
		font-size: 20px;
	}
	.section_3 {
		padding: 70px 30px 0px 30px;
	}
	.section_3_nav {
		padding: 40px 0px 30px 0px;
	}
	.section_3_title {
		font-size: 24px;
	}
	.section_3_nav a {
		font-size: 18px;
	}
	.section_3_img {
		grid-gap: 15px;
	}
	.section_3_img img {
		width: 230px;
	}
}
@media (max-width: 830px) {
	.section_1_video {
		width: 400px;
		height: 255px;
	}
	.section_3_nav a {
		padding: 0px 10px;
	}
	.section_3_img img {
		width: 220px;
	}
}
@media (max-width: 768px) {
	.header {
		margin: 0;
	}
	.header__nav {
		display: none;
	}
	.hamburger-menu {
		display: block;
	}
	.section_1_title {
		grid-row: 2;
		grid-column: 1;}
	.section_1_text {
		grid-row: 3;
		grid-column: 1;
		margin: 0;
	}
	.section_1_button {
		grid-row: 5;
		grid-column: 1;
		margin-bottom: 40px;
	}
	.section_1_video {
		grid-row: 4;
		grid-column: 1;
	}
	.section_2 {
		padding: 50px 30px 0px 30px;
	}
	.section_2_block-1 {
		grid-row: 4;
		grid-column: 1;
	}
	.section_2_block-2 {
		grid-row: 4;
		grid-column: 2;
	}
	.section_2_block-3 {
		grid-row: 5;
		grid-column: 1;
	}
	.section_2_block-4 {
		grid-row: 5;
		grid-column: 2;
	}
	.section_2_line {
		grid-row: 6;
		grid-column: 1/3;
	}
	.section_3 {
		padding: 50px 30px 0px 30px;
	}
	.section_3_nav {
		padding: 30px 0px 20px 0px;
	}
	.section_3_img {
		grid-gap: 10px;
		grid-template-rows:  repeat(4, 1fr);
		grid-template-columns:  repeat(2, 1fr);
	}
	.section_3_img img {
		width: 210px;
	}
}
@media (max-width: 480px) {
	.section_1 {
		padding: 5px 5px 0px 5px;
	}
	.section_1_video {
		width: 320px;
		height: 204px;
	}
	.header {
		height: 60px;
	}
	.menu__btn {
		top: 25px;
	}
	.section_2 {
		padding: 30px 5px 0px 5px;
	}
	.section_3 {
		padding: 30px 5px 0px 5px;
	}
	.section_3_nav {
		padding: 20px 0px 10px 0px;
	}
	.section_3_img {
		grid-gap: 10px;
		grid-template-rows:  repeat(8, 1fr);
		grid-template-columns:  repeat(1, 1fr);
	}
	.section_3_img img {
		width: 290px;
	}
}
@media (max-width: 320px) {
	.section_1 {
		padding: 0;
	}
	.menu__btn {
		top: 20px;
	}
	.section_2_title {
		grid-row: 1;
		grid-column: 1;
	}
	.section_2_text {
		grid-row: 2;
		grid-column: 1;
	}
	.section_2_button {
		grid-row: 3;
		grid-column: 1;
	}
	.section_2_block-1 {
		grid-row: 4;
		grid-column: 1;
	}
	.section_2_block-2 {
		grid-row: 5;
		grid-column: 1;
	}
	.section_2_block-3 {
		grid-row: 6;
		grid-column: 1;
	}
	.section_2_block-4 {
		grid-row: 7;
		grid-column: 1;
	}
	.section_2_line {
		grid-row: 8;
		grid-column: 1;
	}
}